.main-image
  %h1
    =t :text_1
  %p
    =t :text_2

  = link_to image_tag "products/bricks-1.jpg"

%ul.thumbnails.clearfix
  - @thumbnails.each do |thumbnail|
    %li
      = link_to "/designs/#{File.basename(thumbnail).split('-').first}" do
        = image_tag "products/#{File.basename(thumbnail)}"
      %span
        =t File.basename(thumbnail).split('-').first.capitalize

:javascript
  $(document).ready(function() {
    $('.thumbnails li img').mouseover(function() {
      var src = $(this).attr('src').replace("_tn", "");
      $('.main-image img').attr('src', src);
    });
  });
