.design-details
  %h1
    = @design.capitalize

  %p
    3d-wall panel Ellipses design combines a classic circular shape with a
    contemporary look. It has a playful association with Lego and bubble wrap.
    Put multiple tiles together and you’ll get a stunning effect!

  %p
    Our wall panel has a size of 50 centimeter by 50 centimeter and they are
    easily to be installed by yourself.

  %p
    A single packaging contains 12 pieces of 3d wallpanel
    which covers a total of 3 square meters of wall.

  %ul.clearfix
    - @thumbnails.each do |thumbnail|
      %li
        = image_tag "products/#{File.basename(thumbnail)}"

.design-image
  = image_tag "products/#{@design}-1.jpg"

:javascript
  $(document).ready(function() {
    $('.design-details ul li img').mouseover(function() {
      var src = $(this).attr('src').replace("_tn", "");
      $('.design-image img').attr('src', src);
    });
  });
