<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Wall Accent</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="content-wrapper">
      <nav id="main-navigation">
        <ol>
          <li><%= link_to t('About Us'), root_path %></li>
          <li><%= link_to t('Our Designs'), designs_path %></li>
          <li><%= link_to t('Eco Products'), eco_products_path %></li>
          <li><%= link_to t('Projects'), projects_path %></li>
          <li><%= link_to t('Contact Us'), contacts_path %></li>
        </ol>
      </nav>
    </div>
  </header>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <div class="content-wrapper clearfix">
    <%= yield %>
  </div>

  <footer>
    <div class="content-wrapper">
      <p>2013 Wall Accent &copy; <%=t 'All rights reserved' %></p>
    </div>
  </footer>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40726712-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  </body>
</html>
